.background {
  background: white;
  padding: 3rem 0;
  margin: 2.4rem;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.25);
  min-height: 80vh;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 1023px) {
  .background {
    flex-direction: column;
  }
}

.menu {
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  width: 250px !important;
}

@media screen and (max-width: 1023px) {
  .menu {
    height: 8vh;
    border: 0;
    width: 100% !important;
  }
}

.menuItem {
  height: 6rem !important;
  min-width: 160px;
  display: flex;
  align-items: center;
  padding-left: 30px !important;
  padding-right: 50px !important;
  font-size: 16px;
  font-weight: 500;
  margin-top: 0 !important;
}

@media screen and (max-width: 1023px) {
  .menu_item {
    margin-bottom: 0 !important;
    border-bottom: 1px solid #e8e8e8;
  }
}

.myAccountHeader{
  height: 5rem;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  padding-left: 2.4rem;
  color: rgba(0, 0, 0, 0.45);
  font-size: 1.4rem;
}
